{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to ACME Aircraft Parts</h1>
      <div class= "section">
        <a href="{{ url_for('create_customer') }}">Add a Customer</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>These are all of our awesome customers:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="company">Company</th>
              <th data-field="email">Email</th>
              <th data-field="first_name">First Name</th>
              <th data-field="last_name">Last Name</th>
              <th data-field="phone">Phone</th>
            </tr>
          </thead>
          {% for customer in customers %}
            <tr>
              <td>{{ customer['company'] }}</td>
              <td>{{ customer['email'] }}</td>
              <td>{{ customer['first_name'] }}</td>
              <td>{{ customer['last_name'] }}</td>
              <td>{{ customer['phone'] }}</td>
              <!-- Add more fields to showcase on this page
              Below is a method of adding the 'add an order' button which will route you to create_order in views.py -->
              <td><a href="{{ url_for('create_order', value=customer['customer_id']) }}">Add an Order</a></td>
            </tr>
          {% endfor %}
          <thead>
            <tr>
              <th data-field="street_address">Street Address</th>
              <th data-field="city">City</th>
              <th data-field="state">State</th>
              <th data-field="country">Country</th>
              <th data-field="zip_code">Zip Code</th>
            </tr>
          </thead>
          {% for address in address %}
            <tr>
              <td>{{ address['street_address'] }}</td>
              <td>{{ address['city'] }}</td>
              <td>{{ address['state'] }}</td>
              <td>{{ address['country'] }}</td>
              <td>{{ address['zip_code'] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="section">
        <h3>Orders from Customers:</h3>
        <!-- Display all the current existing order information here -->
        <table class="striped">
          <thead>
            <tr>
              <th data-field="order_id">Order ID</th>
              <th data-field="name_of_part">Name of Part</th>
              <th data-field="manufacturer_of_part">Manufacturer of Part</th>
            </tr>
          </thead>
          {% for order in order %}
            <tr>
              <td>{{ order['order_id'] }}</td>
              <td>{{ order['name_of_part'] }}</td>
              <td>{{ order['manufacturer_of_part'] }}</td>
            </tr>
          {% endfor %}

        </table>
      </div>
    </div>
  </div>
{% endblock %}
